<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<bean class="com.easou.usercenter.cache.jedis.JedisManager"
		factory-method="getInstance" init-method="init" />

   <import resource="applicationContext-default-cache.xml"/>

	<!-- 移动数据库数据缓存配置 -->
	<bean id="yd_Cache" class="com.easou.usercenter.cache.jedis.EJedis">
		<property name="cluName" value="yd"></property>
	</bean>
	
</beans>
